body{
     background-image: url('fundo.jpg'); ;

}

h1{
     text-align: center;
     border: 1px solid black;
     padding: 10px 50px 30px 125px;
     font-size:50px;
     background-color:#d9b3ff;
}


h3{
text-align: center;
font-size:28px;
border: 1px solid black;
padding: 10px 20px 25px 25px;
background-color:#d9b3ff;
margin: 20px 100px 60px 100px;
}

table{
   text-align: center;
   width:100%;
   border: 1px solid black;
   padding: 10px 20px 20px 125px;
  background-color:#d9b3ff;

}
 #a{
   text-align: center;
   width: 75%;
   border: 1px solid black;
   padding: 70px 10px 60px 125px;
   border-spacing: 5px;
   margin: 20px 20px 60px 150px;


   }
 

   img{
    height: 200px;
    width: 150px;
    text-align: left 
   }

 #seta{
      height: 40px;
    width: 40px;
    text-align: left;
    float:  left;

 }

 #fb-root{
         width:100%;
   border: 1px solid black;
   padding: 100px 2px 20px 25px;
  background-color:#d9b3ff;
 }

